<html>

<link rel="stylesheet" href="../hotspice-core/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="../hotspice-core/resources/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../hotspice-core/resources/css/base-style.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<body ng-app="hotspice">
	<div id="header">Hot Spice</div>

	<div id="nav">
		<div class="row">
			<a href="#food">Menu Items</a> <a href="#orders">Orders</a>
		</div>
	</div>
	<div ng-controller="HSController" id="section">
		<div class="container">
			<div ng-view></div>
		</div>
	</div>

</body>


<script src="../hotspice-core/resources/js/jquery.min.js"></script>
<script src="../hotspice-core/resources/js/angular.js"></script>	
<script src="../hotspice-core/resources/js/bootstrap.min.js"></script>
<script src = "../hotspice-core/resources/js/angular-route.min.js"></script>
<script src="../hotspice-core/resources/js/listing.js"></script>

</html>