<div>

	<p ng-show="orders.orderByStatusCount.CONFIRMED!=null" style="display: inline; " ng-click="selectedStatus='CONFIRMED'">Confirmed: {{orders.orderByStatusCount.CONFIRMED}} </p>
	<p ng-show="orders.orderByStatusCount.DISPATCHED!=null" style="display: inline; highlightText" ng-click="selectedStatus='DISPATCHED'"> | Dispatched: {{orders.orderByStatusCount.DISPATCHED}} </p>
	<p ng-show="orders.orderByStatusCount.DELIVERED!=null" style="display: inline; highlightText" ng-click="selectedStatus='DELIVERED'"> | Delivered: {{orders.orderByStatusCount.DELIVERED}} </p>
	<p ng-show="orders.orderByStatusCount.CANCELLED!=null" style="display: inline; highlightText" ng-click="selectedStatus='CANCELLED'"> | Cancelled: {{orders.orderByStatusCount.CANCELLED}}</p>
	<br><br>

<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
      </div>      
    </div>
  </form>

	<div ng-if="orderPageMessage!=null"
		ng-class="{'alert alert-success':orderEdited,'alert alert-danger':!orderEdited}">
		<strong>{{orderPageMessage}}</strong>
	</div>

	<div class="row">
				<div class="col-lg-2 col-sm-6 col-xs-6 col-md-4 solid highlightText" ng-click="sortOrder('orderId'); ">Order Id</div>
				<div class="col-lg-2 hidden-md hidden-sm hidden-xs solid highlightText" >Customer Id</div>
				<div class="col-lg-4 hidden-md hidden-sm hidden-xs solid highlightText" ng-click="sortOrder('timeOfOrder');">Time Of Order</div>
				<div class="col-lg-2 col-sm-6 col-xs-6 col-md-4 solid highlightText" ng-click="sortOrder('status');">Status</div>
				<div class="col-lg-2 hidden-sm hidden-xs col-md-4 solid highlightText" ng-click="sortOrder('totalAmount');">Total Amount</div>
			</div>
	
		<div ng-repeat="order in orders.orders | filter:statusfilter | filter:searchText | orderBy:sortType:sortReverse ">
			<div class="row" class="tr">
				<div class="col-lg-2 col-sm-6 col-xs-6 col-md-4 solid" class="btn btn-info btn-lg" data-toggle="modal" data-target="#orderModal" ng-click="showOrder(order)">{{order.orderId}}</div>
				<div class="col-lg-2 hidden-md hidden-sm hidden-xs solid" ng-click="showCustomerData(order.customer)">{{order.customer.id}}</div>
				<div class="col-lg-4 hidden-md hidden-sm hidden-xs solid">{{order.timeOfOrder}}</div>
				<div class="col-lg-2 col-sm-6 col-xs-6 col-md-4 solid">
				<select ng-model="order.status" ng-change="updateOrderStatus(order)">
			      <option value="CONFIRMED">CONFIRMED</option>
			      <option value="DISPATCHED">DISPATCHED</option>
			      <option value="DELIVERED">DELIVERED</option>
			      <option value="CANCELLED">CANCELLED</option>
			    </select>
				</div>
				<div class="col-lg-2 hidden-sm hidden-xs col-md-4 solid">INR {{order.totalAmount}}</div>
				<!--<div class="col-lg-1 solid" ng-click="showOrder(order)">View</div>-->
			</div>
		</div>

</div>

<div id="orderModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{selectedOrder.orderId}} | {{selectedOrder.status}}</h4>
      </div>
      <div class="modal-body">
        <form>
				
				City: {{selectedOrder.city}}<br>
				Time of Order: {{selectedOrder.timeOfOrder}}<br> 
				Time of delivery: {{selectedOrder.timeOfDelivery}}<br>
				Order Amount: {{selectedOrder.totalAmount}}<br>
				Delivery Address: {{selectedOrder.address}}<br>
				Customer contact : {{selectedOrder.customer.phoneNumber}}<br>
				Customer email : {{selectedOrder.customer.emailId}}<br>
				Order:<p ng-repeat="dish in selectedOrder.foodItems" style="display: inline;">{{dish.name}},</p>
				drop down for change status
				
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

