<!DOCTYPE html>
<html lang="en">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body ng-app="test_project">

	<div ng-controller="FirstController">
		<h2 ng-if="turn">Hello {{helloTo.title}} !</h2>
		<h2 ng-if="!turn">Hello {{helloTo.title2}} !</h2>
		<h1 ng-click="toggleButton();">Click me to toggle</h1>
		<label>Filter: <input ng-model="searchText"></label>
		<div ng-repeat="emp in employees | filter:searchText">
			<p>{{emp.name}} {{ emp.id}}</p>
		</div>
		<h1 ng-click="addEmployee();">Add GV</h1>
		<h1 ng-click="removeEmployee();">Remove employee</h1>
		<p>{{message}}</p>
	</div>
	
	
	<script>
		angular.module("test_project", []).controller("FirstController",
				function($scope) {
					$scope.helloTo = {};
					$scope.helloTo.title = "Human, Shagun";
					$scope.helloTo.title2 = "Human, GV";
					$scope.turn = false;
					$scope.searchText = "";
					$scope.toggleButton = function() {
						$scope.turn = !$scope.turn;
					}
					$scope.addEmployee = function() {
						var employee = {};
						employee.name = "gaurav";
						employee.id = "1";
						$scope.employees.push(employee);
					}
					$scope.removeEmployee = function() {
						/* var employee = {};
						employee.name = "gaurav";
						employee.id = "1"; */
						$scope.employees.pop();
					}
					$scope.employees = [ {
						"name" : "shagun",
						"id" : "123"
					}, {
						"name" : "shaggy",
						"id" : "98"
					}, {
						"name" : "shallu",
						"id" : "65"
					}, {
						"name" : "shanti",
						"id" : "23"
					} ];
				});
		
		<!-- beyond the defined scope -->
		toggleButton = function() {
			$scope.turn = false;
		}
	</script>
	
	
</body>
</html>