<html>

<script src="../lib/angular.js"></script>	
<link rel="stylesheet" href="../lib/bootstrap.min.css">
<link rel="stylesheet" href="../lib/bootstrap-theme.min.css">
<script src="../lib/jquery.min.js"></script>
<script src="../lib/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
<style>
.left{
	float:left
}
.solid {border-style: solid; border-width: 2px;}
.mix_veg {background-color:green; }
.mix_nonveg {background-color:red;}

</style>
<script src="js/listing.js"></script>

<body ng-app="coffee_shop">

	<div ng-controller="HSController">
	
	<div class="container">
	
		<div class="row">
			<p ng-click="switchTab('beverage');" class="col-lg-2 solid">Beverage</p>
			<p ng-click="switchTab('snacks');" class="col-lg-2 solid">Snacks</p>
			<p ng-click="switchTab('dessert');" class="col-lg-2 solid">Dessert</p>
			<button ng-click="sortType='price'; sortReverse = !sortReverse">Sort by Price</button>
		</div>
	
		<div ng-repeat="beverage in foodItems | orderBy:sortType:sortReverse">
			<div ng-if="beverage.type==openTab" class="row" >
				<div class="col-lg-4 solid">{{beverage.name}}</div> 
				<div class="col-lg-4 solid" ng-class="{mix_veg : beverage.foodtype=='veg', mix_nonveg : beverage.foodtype=='nonveg'}"> {{beverage.desc}}</div>
				<div class="col-lg-2 solid hidden-sm-down"> Rs. {{beverage.price}}</div>
			</div>
		</div>
	</div>

<div ng-view></div>

</body>
</html>